body {
  background-color: black;

  border: rgb(145, 144, 143) 1px solid;
}
header {
  background-color: aliceblue;
}
h2 {
  color: blanchedalmond;
}

header {
  background-color: burlywood;
}
.descripcion_dami {
  font-weight: bold;
}
