/*
   amarillo E2FF00
   rojo E20000
   rosa FF8CFF
   celeste 3FB8FF
   naranja FF9A00
   azul 1F1FF7
   otro rojo EE0000
   negro 000000
   otro rosa FFCBEF

*/

/*
.portadaPacman {
  display: flex;
  background-color: #000000;
  margin-top: 3em;
}
.portadaPacman img {
  width: 30%;
}
nunito
font-family: 'Festive', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;



*/
