ol {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

ol li {
  list-style: none;
  margin: 15px;
  color: lightcyan;
  text-decoration: none;
  font-size: 1em;
  width: 20%;
  background-color: aqua;
}

ol a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}
